.birthday-row-change {
  display: inline-grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-column-gap: 12px;
  padding: 0;
  width: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.birthday-change-form-placeholder {
  color: rgb(126, 126, 126);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: white;
  padding: 0 4px;
  line-height: 24px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - (2*8px));
  box-sizing: border-box;
  top: -4px;
  left: 12px;
  transition: 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}