.back-arrow-icon {
  width: 24px;
  height: 24px;
  color: #5f6368;
}

.account-subhead {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  width: auto;
  border-bottom: 1px solid lightgray;
}

.account-main-wrap {
  display: flex;
  align-self: center;
  margin: 0 auto;
  width: 624px;
}

.subhead-wrap {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.back-arrow {
  display: flex;
  position: relative;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
}

.back-arrow:active {
  background-color: var(--gapp-icon-active);
  border-radius: 50%;
  box-sizing: border-box;
}

.account-subhead-text {
  color: rgb(32,33,36);
  font-family: Roboto;
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 6px;
}

.account-flex {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
  margin-left: 280px;
  width: 684px;
}

.account-page-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}