.back-arrow-icon {
  width: 20px;
  height: 20px;
  color: #5f6368;
}

.account-subhead-wrap {
  display: block;
  margin-top: 64px;
  height: 56px;
  z-index: 5;
}

.account-subhead {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 870px;
  margin: 0 auto;
  padding: 4px 0;
  background-color: white;
  z-index: 5;
}

.account-subhead-divider {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.back-arrow {
  display: flex;
  position: relative;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
}

.back-arrow:active {
  background-color: var(--gapp-icon-active);
  border-radius: 50%;
  box-sizing: border-box;
}

.account-subhead-text {
  color: rgb(32,33,36);
  font-family: Roboto;
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  margin-left: 4px;
}


.account-flex {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0 0;
  flex: 1 1 auto;
}

.account-main-wrap {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  max-width: 840px;
  flex-shrink: 1;
}

.blue-wrap {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-flow: row;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.red-wrap {
  display: inline-flex;
  flex: 1 1 auto;
  content: "";
  width: auto;
  max-width: 300px;
}

.account-flex-2 {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  margin: 0 auto;
  margin-top: 0;
  width: 840px;
}

.account-flex-sect {
  display: block;
  margin: 24px auto 24px 0;
  max-width: 552px;
  color: rgb(95, 99, 104);
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.learn-more {
  cursor: pointer;
  color: rgb(26, 115, 232);
  text-decoration-color: rgb(26, 115, 232);
}

.account-flex-form {
  display: block;
  margin: 0 auto 24px 0;
  width: 504px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  padding: 24px;
}

.account-page-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}



@media (min-width: 1024px) {
  .account-flex {
    padding: 0 48px;
  }
}

@media (max-width: 1024px) {
  .account-flex {
    padding: 0 24px;
  }
}

@media (max-width: 720px) {
  .account-flex {
    padding: 0 16px;
  }
}

@media (max-width: 1072px) {
  .account-page-wrap {
    margin: 120px 0 0 0;
  }
}
