footer {
  width: stretch;
  max-height: auto;
}

.footer-country,
footer a {
  color: var(--text-color-1);
  font-weight: 400;
  line-height: 16px;
}

footer a {
  font-size: 14px;
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer li {
  display: block;
  padding: 15px;
  line-height: 13px;
  white-space: nowrap;
}

footer ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-country {
  height: 16px;
  padding: 16px 30px 15px;
  border-bottom: 1px solid var(--border-color-3);
  background-color: var(--footer-background-color);
  font-size: 15px;
}

.footer-content {
  display: flex;
  width: calc(100% - 40px);
  height: stretch;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--footer-background-color);
}

@media only screen and (max-width: 1200px) {
  .footer-content {
    justify-content: space-evenly;
  }
}

@media all and (max-width: 664px) {
  footer {
    height: auto;
  }

  .footer-content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}
