header {
  display: flex;
  width: calc(100% - 12px);
  height: 48px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 6px;
  font-size: 13px;
}

header ul {
  align-items: center;
  padding-right: 4px;
}

header li.pl {
  padding-left: 15px;
  margin-top: -1px;
}

header a {
  color: var(--text-color-2);
}
