.flex-container {
  display: flex;
  min-height: 668px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.signpage-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 48px 40px 36px;
  border-radius: 8px;
  border: 1px solid rgb(218, 220, 224);
  min-width: min-content;
}

.signpage-container-wrapper {
  position: relative;
  width: min-content;
  margin: auto auto;
}

.form-container {
  display: block;
  margin: auto auto;
  min-width: 354px;
  min-height: 416px;
  height: min-content;
}

.account-app-icon {
  display: block;
}

@media (max-width: 600px) {
  .flex-container {
    display: flex;
    min-height: 668px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }

  .signpage-container-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    flex-direction: column;
  }

  .signpage-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border: none;
  }

  .form-container {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .account-app-icon {
    display: none;
  }
}