.google-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 0 20px;
  width: calc(100% - 40px);
  height: 58px;
}

.google-search,
.lucky-search {
  height: 36px;
  width: min-content;
  padding: 0 16px;
  margin: 8px;
  border-radius: 4px;
  color: hsl(0deg 0% 25%);
  font-size: 14px;
  background-color: hsl(210deg 17% 98%);
  border: 1px solid transparent;
}

.google-search {
  margin-right: 3px;
  padding-right: 17px;
  padding-left: 16px;
}

.google-search:hover,
.lucky-search:hover {
  border-color: hsl(230deg 9% 87%);
}
