.signin-header {
  display: inline-flex;
  flex: 1 1 0px;
  min-height: 30px;
  max-height: 64px;
  content: "";
  width: auto;
}

@media (max-width: 600px) {
  .signin-header {
    display: none;
  }
}