.account-sidebar-wrap {
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.account-sidebar {
  display: block;
  position: fixed;
  flex-direction: column;
  height: auto;
  margin-top: 20px;
}

.sidebar-item,
.sidebar-item-active {
  display: flex;
  flex-direction: row;
  width: 240px;
  padding: 10px 16px 10px 24px;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.sidebar-item-active {
  background-color: rgb(232, 240, 254);
  text-decoration: none;
}

.sidebar-links {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.45px;
  line-height: 20px;
  overflow-wrap: break-word;
  text-align: left;
  color: rgb(60, 64, 67);
}

.sidebar-links:hover {
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: rgb(241, 241, 241);
  text-decoration: none;
}

.sidebar-item:active {
  background-color: rgb(224, 224, 224);
  text-decoration: none;
}

.sidebar-item-active .sidebar-icon {
  color: #155bb6;
}

.sidebar-item-active .sidebar-links {
  color: #1a73e8;
}

.sidebar-icon {
  height: 24px;
  width: 24px;
  color: rgb(60, 64, 67);
  padding-right: 16px;
}

.sidebar-divider {
  margin: 8px 0;
  border-bottom: 1px solid lightgray;
}

.no-deco:hover,
.no-deco:active {
  text-decoration: none;
}

@media only screen and (max-width: 1072px) {
  .account-sidebar-wrap {
    display: none;
  }
}