.gapps-icon-link,
.gapps-icon-link-active,
.gapps-icon {
  position: relative;
  align-self: center;
  justify-content: center;
}

.gapps-icon-link,
.gapps-icon-link-active {
  display: flex;
  width: 40px;
  padding: 8px 0;
  margin-left: 4px;
}

.gapps-icon {
  width: 24px;
  height: 24px;
  fill: var(--gapp-icon-fill);
}

.gapps-icon-link-active.active {
  background-color: var(--gapp-icon-active);
  border-radius: 50%;
}

.gapps-icon-link:hover {
  width: 40px;
  background-color: var(--gapp-icon-hover);
  border-radius: 50%;
}

.title {
  display: none;
  position: absolute;
  top: 44px;
  height: auto;
  padding: 5px 7px;
  background-color: var(--gapp-title-background);
  border-radius: 4px;
  color: var(--gapp-title);
  font-size: 12px;
  letter-spacing: 0.675px;
  word-spacing: 1.25px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease 0.5;
    -moz-animation:fadeIn ease 0.5;
    animation:fadeIn ease 0.5;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;

    -webkit-animation-duration:0.1s;
    -moz-animation-duration:0.1s;
    animation-duration:0.1s;
}