.gapps-icon-link,
.gapps-icon-link-active,
.gapps-icon {
  position: relative;
  align-self: center;
  justify-content: center;
}

.gapps-icon-link,
.gapps-icon-link-active {
  display: flex;
  width: 40px;
  padding: 8px 0;
  margin-left: 4px;
}

.gapps-icon {
  width: 24px;
  height: 24px;
  fill: var(--gapp-icon-fill);
}

.gapps-icon-link-active.active {
  background-color: var(--gapp-icon-active);
  border-radius: 50%;
}

.gapps-icon-link:hover {
  width: 40px;
  background-color: var(--gapp-icon-hover);
  border-radius: 50%;
}

[data-title="Google apps"]::after {
  position: absolute;
  top: 44px;
  height: auto;
  padding: 5px 7px;
  background-color: var(--gapp-title-background);
  border-radius: 4px;
  color: var(--gapp-title);
  content: attr(data-title);
  font-size: 12px;
  letter-spacing: 0.675px;
  visibility: hidden;
  word-spacing: 1.25px;
}

[data-title="Google apps"]:hover::after {
  opacity: 1;
  transition: all 0.01s ease 0.5s;
  visibility: visible;
}
