.search-language-container {
  justify-content: center;
  width: calc(100% - 40px);
  padding: 0 20px;
  margin: -1px 0 24px 0;
}

.search-language {
  line-height: 28px;
  color: #3c4043;
  text-align: center;
  font-size: 13px;
}

.search-language button {
  color: var(--text-color-3);
  padding: 0 3px;
  letter-spacing: -0.17px;
}

.search-language button:hover {
  text-decoration: underline;
}
