.signin-form {
  display: flex;
  position: relative;
  height: 56px;
  white-space: normal;
  vertical-align: top;
  line-height: 20px;
  margin: 32px 0 0 0;
}

.signin-form input:focus {
  border: 2px solid #1a73e8;
  transition: 0.15s;
}

.signin-form .input-placeholder {
  color: rgb(95, 99, 104);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - (2*8px));
  box-sizing: border-box;
  top: 17px;
  left: 16px;
  transition: 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.signin-form .input-email {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.input-email {
  display: block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px;
  color: rgb(32, 33, 36);
  cursor: text;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14px;
  line-height: 24px;
  white-space: normal;
  height: 56px;
  margin-left: 0px;
  padding: 13px 15px;
  z-index: 1;
  background-color: transparent;
}