.subhead-note {
  width: 610px;
  margin: 8px 0 30px 0;
}

.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}

.uppercase {
  text-transform: uppercase;
}

.radio-container {
  display: flex;
  margin-bottom: 22px;
  cursor: default;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0.2px;
  line-height: 20px;
  height: 30px;
  align-items: center;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid rgb(110, 110, 110);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 2px;
}

.radio-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  background-color: white;
  position: relative;
  margin-right: 8px;
  cursor: pointer;
}

.radio-circle:hover {
  background-color: rgba(231, 249, 255, 0.575);
}

.radio-circle:hover .radio {
  border: 2px solid rgb(43, 43, 43);
  cursor: pointer;
}

input:checked ~ .radio-circle .radio,
input:checked ~ .radio-circle:hover .radio {
  border: 2px solid #1a73e8;
}

input:checked ~ .radio-circle:hover .radio:after {
  background-color: #1054ad;
}

input:checked ~ .radio-circle .radio:after {
  display: block;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1a73e8;
}

@media (max-width: 690px) {
  .subhead-note {
    width: calc(100% - 48px);
    padding: 24px;
  }
}