.note {
  color: rgb(95, 99, 104);
  margin-top: 32px;
  padding: 8px 0 3px 0;
  line-height: 20px;
}

.button-blue {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  color: #1a73e8;
  background-color: transparent;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: .25px;
  cursor: pointer;
  text-decoration: none;
  margin: 8px 0 3px -3px;
  padding: 3px;
}

.button-blue:focus {
  background-color: #dee6fd;
}

.button-blue:hover {
  text-decoration: none;
}

.button-blue:active {
  background-color: #c9d5fb;
}

.email-form input:focus ~ .input-placeholder {
  transform: translateY(-28px) translateX(-8px);
  font-size: 12px;
  background-color: white;
  padding: 0 6px;
  color: #1a73e8;
  z-index: 1;
  cursor: text;
}

.email-form input:valid ~ span {
  transform: translateY(-27px) translateX(-8px);
  font-size: 12px;
  background-color: white;
  padding: 0 6px;
  color: gray;
  z-index: 1;
  cursor: text;
}

.flex-row {
  margin: 0 0 0 -8px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  align-content: flex-end;
  width: auto;
  height: min-content;
  margin-top: 26px !important;
}

.create-account {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  margin: 6px 0;
  padding: 0 8px;
  align-items: center;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  letter-spacing: 0.15px;
  min-width: 64px;
  vertical-align: middle;
}

.create-account:hover {
  background-color: #f8f8fe;
}

.create-account:active {
  background-color: #e3e1fc;
}
