.navbar-form-wrap {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  min-height: 48px;
  background-color: white;
  margin-left: -16px;
  z-index: 2;
}

.nav-contain-blue {
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  top: 60px;
  background-color: white;
  justify-content: flex-start;
  z-index: 2;
}

.form-bord-bot {
  position: fixed;
  top: 116px;
  height: 1px;
  width: 100%;
  background-color: lightgray;
  z-index: 1;
}

.account-page-row-blue {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  justify-self: center;
  justify-content: center;
  width: max-content;
  margin: 0 auto;
}

.account-flex-form-wrap {
  display: block;
  margin: 142px auto 24px 0;
  width: 610px;
}

.account-flex-form {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  padding: 24px;
}

.top-note {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: rgb(95, 99, 104);
}

.header-note {
  color: rgb(32, 33, 36);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  padding: 16px 0;
  width: max-content;
}

.users-row {
  display: flex;
  flex-direction: row;
}

.users-note {
  width: 360px;
}

.form-button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
}

.users-icon {
  height: 20px;
  width: 20px;
  color: gray;
  margin: 0;
  padding: 0 16px 16px 0;
}

.cancel {
  align-self: center;
  font-family: 'Roboto', arial, sans-serif;
  border-radius: 4px;
  align-items: center;
  background-color: white;
  padding: 0 12px;
  color: rgb(26, 115, 232);
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  line-height: 20px;
  letter-spacing: 0.15px;
  min-width: 64px;
  vertical-align: middle;
  transition-property: background-color;
  transition-delay: 0.025s;
  margin: 6px 0;
  margin-right: 8px;
}

.cancel-link {
  color: rgb(26, 115, 232);
}

.cancel:hover,
.cancel-link:hover {
  color: rgb(23, 78, 166);
  background-color: rgb(239, 240, 247);
}

.cancel:active,
.cancel-link:active {
  color: rgb(23, 78, 166);
  background-color: rgb(227, 233, 243);
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background: #f1f1f1;
  color: rgb(175, 175, 175);
  cursor: default;
  box-shadow: none;
}

.change-form-input {
  width: 100%;
  display: block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 4px;
  color: rgb(60, 64, 67);
  cursor: text;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
  line-height: 20px;
  white-space: normal;
  height: 56px;
  letter-spacing: 0.1px;
  padding: 13px 15px;
  z-index: -1;
  background-color: transparent;
  margin: 8px 0 30px 0;
}

.change-form-input-error {
  width: 100%;
  display: block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border: 1px solid rgb(217, 48, 37);
  border-radius: 4px;
  color: rgb(60, 64, 67);
  cursor: text;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
  line-height: 20px;
  white-space: normal;
  height: 56px;
  letter-spacing: 0.1px;
  padding: 13px 15px;
  z-index: -1;
  background-color: transparent;
  margin: 8px 0 30px 0;
}

.change-form-input:focus-within {
  border: 2px solid #1a73e8;
}

.change-form-input-error:focus-within {
  border: 2px solid rgb(217, 48, 37);
}

.change-form-input-error ~ .change-form-placeholder {
  color: rgb(217, 48, 37);
}

.change-form-input:focus-within ~ .change-form-placeholder {
  color: #1a73e8;
}

.change-form-input-error:focus-within ~ .change-form-placeholder {
  color: rgb(217, 48, 37);
}

.change-form-placeholder {
  color: rgb(126, 126, 126);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: white;
  padding: 0 4px;
  line-height: 24px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - (2*8px));
  box-sizing: border-box;
  top: -12px;
  left: 12px;
  transition: 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 690px) {
  .account-flex-form {
    border: none;
  }

  .account-flex-form-wrap {
    width: calc(100% - 48px);
    margin-top: 120px;
  }

  .form-bord-bot {
    display: none;
  }

  .account-page-row-blue {
    width: calc(100% - 48px);
  }
}