.logo {
  display: block;
  margin: 0 auto;
  min-height: 92px;
  width: 272px;
  background-image: url('googlelogo_white.png');
  background-repeat: no-repeat;
}

@media only screen and (device-width: 100vw) {
  .logo {
    margin-top: 16px;
  }
}
