.logo {
  display: flex;
  min-height: 92px;
  margin: 0 auto;
  background-image: var(--logo);
  background-position: center;
  background-repeat: no-repeat;
}

@media all and (device-width: 100vw) {
  .logo {
    margin-top: 16px;
  }
}
