.data-scene-img {
  background-image: url("../../../../public/dataandpersonalization_scene.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 360px 128px;
  width: 360px;
  height: 128px;
}

.data-no-marg {
  margin-top: -32px;
  padding-top: -32px;
}

.info-card-no-pad {
  padding-top: 0;
}

.info-wrap-bot-top {
  border-radius: 8px;
}

.trash-icon {
  display: inline-flex;
  height: 24px;
  width: 24px;
  color: #5f6368;
  padding-right: 24px;
}

.info-title-width {
  width: stretch;
}

.data-title {
  font-size: 1rem;
  font-family: Roboto;
  color: #202124;
  line-height: 1.5rem;
  font-weight: 400;
  text-transform: none;
}

.data-value {
  color: rgb(95, 99, 104);
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-left: 0;
}



.data-subheading {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 700px) {
  .wrap-column {
    display: flex;
    flex-direction: column;
  }

  .wrap-row-space {
    width: 60px;
  }
}

@media(min-width: 700px) {
  .wrap-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

}

@media(min-width: 800px) {

  .wrap-row-space {
    min-width: 80px;
  }
}