.pass-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
  padding: 10px 0 0 40px;
  line-height: 20px;
  color: rgb(32, 33, 36);
  margin-bottom: 40px;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 7px;
  height: 14px;
  width: 14px;
  border: 2px solid rgb(95, 99, 104);
  border-radius: 2px;
  margin: 11px 11px 11px 4px;
  z-index: 3;
}

.checkmark-bg {
  position: absolute;
  top: 0px;
  left: -8px;
  border-radius: 50%;
  background-color: white;
  height: 40px;
  width: 40px;
  z-index: -1px;
}

.checkmark-bg:hover .checkmark,
.checkmark:hover {
  border-color: rgb(32, 33, 36);
}

.checkmark-bg:hover,
.checkmark:hover,
.checkmark:hover ~ .checkmark-bg {
  background-color: #f7f8f8;
}

.checkmark-bg:hover input:checked ~ .checkmark {
  background-color: rgb(23, 78, 166);
  border-color: rgb(23, 78, 166);
}

input:checked ~ .checkmark {
  background-color: rgb(26, 115, 232);
  border-color: rgb(26, 115, 232);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.password-checkbox {
  display: inline-block;
  visibility: visible;
  width: 14px;
  height: 14px;
  border: 2px solid rgb(95, 99, 104);
  border-radius: 4px;
  margin: 11px;
}
