.nav-contain {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  top: 60px;
  background-color: white;
}

.navbar-wrap {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-height: 48px;
  border-bottom: 1px solid lightgray;
  justify-content: space-evenly;
  align-items: flex-end;
}

.navbar-link-padding {
  padding: 0 24px;
  margin-bottom: 3px;
}

.navbar-links {
  display: inline-flex;
  padding-bottom: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  justify-content: flex-end;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: rgb(60, 64, 67);
  position: ab;
}

.navbar-links:hover {
  color: rgb(26, 115, 232);
}

.navbar-active {
  position: relative;
  margin-bottom: -3px;
  height: 3px;
  width: calc(100% - 3px);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1.5px solid rgb(26, 115, 232);
  background-color: rgb(26, 115, 232);
  align-items: flex-end;
  justify-content: center;
}

.navbar-active .navbar-links {
  color: rgb(26, 115, 232);
  white-space: nowrap;
  margin-bottom: 2px;
}

@media only screen and (min-width: 1073px) {
  .navbar-wrap {
    display: none;
  }
}