.birthday-row {
  display: inline-grid;
  grid-template-columns: 108px 108px 108px;
  padding: 0;
  width: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.welcome-subhead {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.welcome-subhead-email {
  margin-left: -4px;
}

.input-width {
  width: 100%;
}

select.signup-input,
select.signup-input-error {
  width: 100%;
  background-color: transparent;
}

.focus-red:focus-visible {
  transition: 0.05s;
  outline: 2px solid red;
  position: relative;
  outline-offset: -2px;
}

.focus-blue:focus-visible {
  transition: 0.05s;
  outline: 2px solid #1a73e8;
  position: relative;
  outline-offset: -2px;
}

.signup-input-placeholder-detail {
  color: rgb(128, 128, 128);
  background-color: white;
  padding: 0px 4px;
  z-index: 5;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - (2*8px));
  box-sizing: border-box;
  top: -5px;
  left: 4px;
  cursor: default;
  user-select: none;
  transition: 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
}

select.focus-blue:focus ~ .signup-input-placeholder-detail {
  color: #1a73e8;
  transition: 0.05s;
}

select.focus-red ~ .signup-input-placeholder-detail {
  color: red;
  transition: 0.05s;
}