.account-page-head {
  font-family: Roboto;
  line-height: 36px;
  font-size: 28px;
  color: rgb(32, 33, 36);
  overflow-wrap: break-word;
  margin: 2px 0 10px 0;
}

.account-page-subhead {
  font-family: Roboto;
  font-size: 16px;
  margin-top: 0;
  letter-spacing: 0.1px;
  line-height: 24px;
  overflow-wrap: break-word;
  color: rgb(95, 99, 104);
}

.align-center {
  align-self: center;
}

.personal-card-1 {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  margin-top: 32px;
  padding-top: 32px;
}

.personal-scene-img-contain {
  display: flex;
  align-self: center;
  margin-left: 16px;
}

.personal-scene-img {
  background-image: url("../../../../public/profile_scene.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 360px 128px;
  width: 360px;
  height: 128px;
}

.personal-scene-pref-img {
  background-image: url("../../../../public/profile_scene_pref.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 360px 128px;
  width: 360px;
  height: 128px;
}

.info-card {
  width: auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 24px 24px 0 24px;
  height: auto;
  margin-top: 24px;
}

.h3 {
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 28px;
}


.h3-note {
  font-size: 0.875rem;
  font-family: Roboto;
  font-weight: 400;
  color: #5f6368;
  line-height: 1.25rem;
  padding: 8px 0 16px 0;
}

.account-bottom-marg {
  margin-bottom: 64px;
}

.info-button {
  padding: 0;
  width: 100%;
}

.info-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;

  margin-left: -24px;
  margin-right: -24px;
}

.info-wrap-bottom {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.info-wrap:hover {
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: rgb(248, 248, 248);
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.info-wrap-divide {
  margin-left: 0px;
  margin-right: -24px;

  height: 1px;
  background-color: lightgray;
}

.info-wrap:active {
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  transition-property: background-color;
  transition: 0.2s;
  background-color: rgb(226, 226, 226);
}

.info-title {
  display: flex;
  justify-self: flex-start;
  width: 200px;
  margin-right: 24px;
  color: rgb(95, 99, 104);
  font-size: 11px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 16px;
  text-transform: uppercase;
}

.info-value {
  display: flex;
  justify-self: flex-start;
  justify-content: flex-start;
  margin-right: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgb(32, 33, 36);
  text-transform: capitalize;
}

.info-arrow {
  display: block;
  justify-self: flex-end;
  align-items: flex-end;
  justify-content: flex-start;
  justify-items: center;
  margin-left: 16px;
  margin-right: 0;
  margin-left: auto;
}

.chevron-arrow {
  width: 20px;
  height: 20px;
  color: #5f6368;
}

.undercase {
  text-transform: lowercase;
}
