.notfound-wrapper {
  padding: 15px;
  display: flex;
  overflow: hidden;
}

.notfound-container {
    display: flex;
    flex-direction: row;
    width: min(625px - 30px);
    padding: clamp(0, 10%, 15%);
    height: auto;
    margin: 15px 0;
    margin-inline: auto;
    font-size: 15px;
    color: rgb(34, 34, 34);
    margin-top: 7%;
    overflow: hidden;
}

.left-container {
    flex-direction: column;
    padding: 30px 15px 0 0;
    width: 424px;
    overflow: hidden;
}

.notfound-p {
  margin: 14px 0 22px 0;
}

.right-container {
  display: flex;
  flex-direction: row;
  width: 200px;
  overflow: hidden;
}

.robot {
  margin-top: 5px;
  margin-left: 20px;
}

.notfound-logo {
  margin-left: -5px;
}

@media all and (max-width: 772px) {
  .robot {
    display: none;
  }

  .notfound-container {
    margin-top: 0;
    margin-left: 0;
    width: auto;
  }

  .left-container {
    width: 800px;
  }
}
