.search-container {
  height: 44px;
  width: 100%;
  padding: 26px 20px 10px 20px;
  margin: 0;
  background: #fff;
  z-index: 3;
}

.search-bar {
  display: flex;
  width: clamp(350px, 100% - 20px, 582px);
  height: 44px;
  border: 1px solid hsl(230deg 10% 89%);
  background-color: white;
  border-radius: 24px;
  margin: 0;
}

.search-bar:hover,
.search-bar:focus {
  background-color: white;
}

.search-bar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgb(223 225 229 / 0%);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.search-icon,
.microphone-icon,
.x-icon {
  align-self: center;
  margin: 0;
  z-index: 2;
  flex-shrink: 0;
}

.search-icon {
  height: 18px;
  width: 18px;
  padding: 13px 15px;
  fill: hsl(217deg 7% 63%);
}

.microphone-icon,
.x-icon {
  height: 22px;
  width: 22px;
  padding: 11px 13px;
  fill: hsl(216deg 4% 46%);
}

.microphone-icon {
  padding-right: 17px;
}

.x-icon {
  padding-left: 9px;
  transition: 0.1s;
  margin-top: -8px;
}

button {
  cursor: default;
  background: none;
  margin: 0;
  padding: 0;
}

.clear-button {
  border-right: 1px solid hsl(230deg 9% 87%);
  height: 65%;
  line-height: 44px;
  align-self: center;
}

input:focus,
input[type="search"],
button,
.x-icon,
.microphone-icon {
  outline: none;
  border: none;
}

.microphone-icon:hover,
.x-icon:hover,
.clear-button:hover {
  cursor: pointer;
}

form input:placeholder-shown + div button,
form input:placeholder-shown + .clear-button {
  opacity: 0;
  pointer-events: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  appearance: auto;
  box-sizing: border-box;
  width: 600px;
  align-self: center;
  height: 30px;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
  color: hsl(0deg 0% 15%);
  margin-left: -1px;
  -webkit-tap-highlight-color: transparent;
  flex: 100%;
  flex-wrap: wrap;
  word-wrap: break-word;
}

input[type="search"]:hover,
input[type="search"]:focus {
  background-color: white;
}
