.search-container {
    height: 44px;
    width: auto;
    padding: 26px 20px 0 20px;
    margin: 0;
}

.search-bar {
    display: flex;
    width: clamp(350px, 100% - 20px, 582px);
    height: 44px;
    border: 1px solid hsl(230, 10%, 89%);
    border-radius: 24px;
    margin: 0;
}

.search-bar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.search-icon,
.microphone-icon,
.x-icon {
    align-self: center;
    margin: 0;
    z-index: 2;
    flex-shrink: 0;
}

.search-icon {
    height: 18px;
    width: 18px;
    padding: 13px 15px 13px 15px;
    fill: hsl(217, 7%, 63%);
}

.microphone-icon,
.x-icon {
    height: 22px;
    width: 22px;
    padding: 11px 13px 11px 13px;
    fill: hsl(216, 4%, 46%);
}

.microphone-icon {
    padding-right: 17px;
}

.x-icon {
    padding-left: 9px;
    transition: .1s;
    margin-top: -8px;
}

button {
    cursor: default;
    background-color: none;
    background: none;
    margin: 0;
    padding: 0;
}

.microphone-icon:hover,
.x-icon:hover,
.clear-button:hover {
    cursor: pointer;
}

.clear-button {
    border-right: 1px solid hsl(230, 9%, 87%);
    height: 65%;
    line-height: 44px;
    align-self: center;
}

form input:placeholder-shown+div button,
form input:placeholder-shown+.clear-button {
    opacity: 0;
    pointer-events: none;
}

input:focus,
input[type="search"],
button,
.x-icon,
.microphone-icon {
    outline: none;
    border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="search"] {
    appearance: auto;
    box-sizing: border-box;
    width: 600px;
    align-self: center;
    height: 30px;
    padding: 0;
    font-size: 16px;
    color: hsl(0, 0%, 0, .87);
    margin-left: -1px;
    -webkit-tap-highlight-color: transparent;
    flex: 100%;
    flex-wrap: wrap;
    word-wrap: break-word;
}