header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 48px;
  width: calc(100% - 12px);
  padding: 6px;
  background: #fff;
  font-size: 13px;
}

header ul {
  align-items: center;
  padding-right: 4px;
}

header li {
  padding-left: 15px;
  margin-top: -1px;
}

header a {
  text-decoration: none;
  color: hsl(0deg 0% 22%);
}

header a:hover {
  text-decoration: underline;
}

.gapps-icon-link,
.gapps-icon {
  align-self: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.gapps-icon-link {
  height: 40px;
  width: 40px;
  padding: 8px 0;
  margin: 0 -7px 0 4px;
}

.gapps-icon {
  height: 24px;
  width: 24px;
  fill: hsl(220deg 5% 39%);
}

.gapps-icon-link:hover {
  background-color: hsl(240deg 3% 92%);
  border-radius: 50%;
}

.sign-in {
  width: 96px;
  height: 36px;
  padding: 9px 17px;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 8px 0 4px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.25px;
  background: #1a73e8;
  box-sizing: border-box;
}

.sign-in:hover {
  text-decoration: none;
  border: 1px solid #4285f4;
  background: #4285f4;
}

[data-title="Google apps"]::after {
  content: attr(data-title);
  position: absolute;
  font-size: 12px;
  top: 44px;
  height: auto;
  margin-left: -58px;
  padding: 5px 7px;
  color: hsl(240deg 3% 100%);
  letter-spacing: 0.675px;
  word-spacing: 1.25px;
  border-radius: 4px;
  background-color: hsl(220deg 5% 32%);
  visibility: hidden;
}

[data-title="Google apps"]:hover::after {
  opacity: 1;
  transition: all 0.01s ease 0.5s;
  visibility: visible;
}

@media only screen and (max-width: 610px) {
  .sign-in {
    padding: 9px;
    width: 80px;
    white-space: nowrap;

  }
}
