header {
    height: 48px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header ul {
    display: inline-flex;
    align-items: center;
    padding: 0 4px 0 15px;
    font-size: 13px;
}

header li {
    list-style: none;
    padding: 0 0 0 15px;
    margin-top: -1px;
}

header a {
    text-decoration: none;
    color: hsl(0, 0%, 22%);
}

header a:hover {
    text-decoration: underline;
}

.gapps-icon-link {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 8px 0px 8px 0px;
    margin: 0 -7px 0 4px;
}

.gapps-icon {
    display: flex;
    align-self: center;
    height: 24px;
    width: 24px;
    fill: hsl(220, 5%, 39%);
}

.gapps-icon-link:hover {
    background-color: hsl(240, 3%, 92%);
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-icon,
.profile-icon-link {
    height: 40px;
    width: 40px;
    margin: 0;
}

.profile-icon-link {
    display: flex;
    align-self: center;
    padding: 0;
}

.profile-icon-link:hover {
    height: 40px;
    border-radius: 50%;
    background-color: hsl(240, 3%, 92%);
    cursor: pointer;
}

.profile-icon-link,
.profile-icon-link:hover {
    margin-right: 4px;
}

[data-title="Google Apps"]:hover:after {
    opacity: 1;
    transition: all 0.01s ease 0.5s;
    visibility: visible;
}

[data-title="Google Apps"]:after {
    content: attr(data-title);
    position: absolute;
    top: 45px;
    margin-right: auto;
    margin-left: auto;
    padding: 4px 8px 4px 8px;
    color: hsl(240, 3%, 92%);
    white-space: nowrap;
    border-radius: 5px;  
    background-color: hsl(220, 5%, 39%);
    visibility: hidden;
}

[data-title="Google Apps"] {
    position: relative;
}

a.google-account:hover span:after {
    opacity: 1;
    transition: all 0.01s ease 0.5s;
    visibility: visible;
}

a.google-account:hover span {
    position: absolute;
    display: block;
    top: 55px;
    right: 0%;
    margin-right: 6px;
    padding: 4px 8px 4px 8px;
    color: hsl(240, 3%, 92%);
    border-radius: 5px;  
    background-color: hsl(220, 5%, 39%);
    white-space: nowrap;
}

a.google-account span {
    display: none;
    position: relative;
  }