.logo {
    min-height: 92px;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-shrink: 0;
}

@media only screen and (device-width: 100vw){
    .logo {
      margin-top: 16px;
    }
}