.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 44px;
    width: auto;
    padding: 26px 20px 0 20px;
    margin: 0;
    --search-border: hsl(0, 0%, 88%);
}

.search-bar {
    display: flex;
    width: 582px;
    height: 44px;
    border: 1px solid;
    border-color: var(--search-border);
    border-radius: 35px;
}

.search-icon,
.microphone-icon,
.x-icon {
    align-self: center;
    margin: -1px;
    z-index: 2;
}

.search-icon {
    height: 18px;
    width: 18px;
    padding: 13px 15px 13px 16px;
    fill: hsl(0, 0%, 64%);
}

.microphone-icon,
.x-icon {
    height: 22px;
    width: 22px;
    padding: 11px 14px 11px 15px;
    fill: hsl(0, 0%, 45%);
}

.microphone-icon {
    padding-right: 18px;
}

.divider {
    border-left: 1px solid;
    border-color: var(--search-border);
    height: 65%;
    cursor: pointer;
    line-height: 44px;
    align-self: center;
}

input {
    align-self: center;
    height: 30px;
    padding: 0;
    width: 446px;
    border: none;
    font-size: 16px;
}

.search-button-wrapper {
    display: flex;
    justify-content: center;
    padding: 18px 20px 20px 20px;
}

.search-button-wrapper ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.search-button-wrapper li {
    margin: 0;
    list-style: none;
    padding: 0 5px 0 5px;
}

.search-button {
    height: 34px;
    padding: 0 16px 0 16px;
    border-radius: 5px;
    margin: 11px 4px 11px 4px;
}

.search-button:hover {
    border: 1 solid hsl(0, 0%, 20%);
}