.search-button {
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 0;
}
  
.google-search,
.lucky-search {
  width: min-content;
  height: 36px;
  padding: 0 16px;
  border: 1px solid var(--background-color);
  margin: 8px 4.5px;
  background-color: var(--search-button-color);
  border-radius: 4px;
  color: var(--text-color-2);
  font-size: 14px;
}
  

  
.google-search:hover,
.lucky-search:hover {
  border-color: var(--border-color-1);
}

.google-search:active,
.lucky-search:active {
  border-color: var(--border-color-4);
}
  