.account-app-figure {
  margin: 0;
  padding: 0 0 0 48px;
  width: 244px;
  margin: 72px 4px 0 4px;
}

.signup-note {
  font-family: 'Roboto', arial, sans-serif;
  color: rgb(95, 99, 104);
  font-size: 12px;
  line-height: 17px;
  margin: -15px 0 0 10px;
  padding-right: 15px;
  white-space: normal;
}

.fig-heading {
  display: block;
  color: rgb(32, 33, 36);
  font-size: 16px;
  font-weight: 300;
  line-height: 22.8576px;
  text-align: center;
  font-family: 'Roboto', "Noto Sans Myanmar UI", arial, sans-serif;
}

.name-row {
  display: inline-grid;
  grid-template-columns: 174px 174px;
  padding: 0;
  width: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: stretch;
  margin-top: 16px;
  margin-left: -6px;
  margin-right: 0px;
  padding-bottom: 20px;
}

.input-container {
  position: relative;
  margin: 20px 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  line-height: 24px;
  margin: 32px 0 0 0;
  align-content: space-between;
}

.signup-form input:focus {
  border: 2px solid #1a73e8;
  transition: 0.15s;
}

.signup-form input.signup-input-error:focus {
  border: 2px solid rgb(217, 48, 37);
  transition: 0.15s;
}

.input-container span {
  color: rgb(95, 99, 104);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - (2*8px));
  box-sizing: border-box;
  top: 8px;
  left: 10px;
  transition: 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.input-container .signup-input,
.input-container .signup-input-error {
  display: inline-block;
  position: relative;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px;
  color: rgb(32, 33, 36);
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  margin-left: 0px;
  padding: 6px 8px;
  z-index: 1;
  background-color: transparent;
}

.input-container input:focus ~ span,
.input-container input:valid ~ span,
.input-container input:invalid ~ span {
  transform: translateY(-13px) translateX(-7px);
  font-size: 11px;
  line-height: 11px;
  background-color: white;
  padding: 0 4px;
  z-index: 1;
  cursor: text;
}

.input-container input.signup-input:focus ~ span {
  color: #1a73e8;
}

.input-container input ~ span {
  color: gray;
}

.input-container .signup-input-error {
  border: 1px solid rgb(217, 48, 37);
}

.input-container .signup-input-error ~ span,
.input-container .signup-input-error:focus:focus-within ~ span {
  color: rgb(217, 48, 37);
}

.input-container input.signup-input-error:focus ~ span,
.input-container input.signup-input-error:valid ~ span {
  transform: translateY(-13px) translateX(-7px);
  font-size: 11px;
  line-height: 11px;
  background-color: white;
  padding: 0 4px;
  z-index: 1;
  cursor: text;
  color: rgb(217, 48, 37);
}

.invalid {
  font-size: 0.75rem;
  color: rgb(217, 48, 37);
  margin: -15px 0 -10px 0;
  white-space: nowrap;
}

.invalidlogo {
  display: inline-block;
  position: absolute;
}

.invalidtext {
  position: relative;
  margin-top: -4px;
  margin-left: 25px;
}

.signup-input-placeholder {
  color: rgb(95, 99, 104);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 11x;
  line-height: 24px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - (2*8px));
  box-sizing: border-box;
  top: 6px;
  left: 9px;
  transition: 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
}
