footer {
  position: absolute;
  max-height: 138px;
  width: stretch;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  z-index: 1;
  --background-color: hsl(0deg 0% 95%);
}

footer p,
footer a {
  color: hsl(0deg 0% 45%);
  margin: 0;
  line-height: 16px;
}

footer p {
  font-size: 15px;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: -0.05px;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  line-height: 13px;
  list-style: none;
  padding: 15px;
  white-space: nowrap;
}

footer ul {
  align-items: center;
  display: inline-flex;
  margin: -1px 0 0;
  padding: 0;
}

.footer-country {
  height: 17px;
  padding: 15px 30px;
  background-color: var(--background-color);
  border-bottom: 1px solid hsl(230deg 9% 87%);
  z-index: 1;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: stretch;
  width: stretch;
  background-color: var(--background-color);
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  z-index: 1;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  .footer-content {
    justify-content: space-evenly;
  }
}

@media all and (max-width: 664px) {
  footer {
    height: 140px;
  }

  .footer-content {
    display: flex;
    height: stretch;
    width: 100%;
    flex-direction: column;
    margin: 0;
    margin-left: -20px;
    justify-items: center;
    align-items: center;

  }
}
