ul.panel {
  position: absolute;
  width: 200px;
  height: auto;
  background: #fff;
  border: 1px solid #70757a;
  z-index: 5;
  bottom: 46px;
  right: 20px;
  display: block;

  /* display: none; */
}

ul.panel li {
  display: block;
  padding: 0;
  margin: 0;
}

ul.panel li a,
ul.panel li button {
  width: auto;
  height: auto;
  display: block;
  color: hsl(0deg 0% 45%);
  font-size: 14px;
  line-height: 16px;
  padding: 15px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
}

.panel-separator {
  border-top: 1px solid #ebebeb;
}

button.dark-off .sun-icon,
button.dark-on .moon-icon {
  position: absolute;
  display: none;
  height: 22px;
  width: 22px;
  fill: hsl(210deg 4% 46%);
  right: 15px;
  bottom: 13px;
}

button.dark-off:hover,
button.dark-on:hover {
  text-decoration: none;
}

button.dark-off:hover .sun-icon,
button.dark-on:hover .moon-icon {
  display: inline-block;
}
