ul.panel {
  position: absolute;
  right: 0;
  bottom: 46px;
  display: block;
  min-width: 200px;
  height: auto;
  border: 1px solid var(--text-color-1);
  background: var(--background-color);
}

ul.panel li {
  padding: 0;
  margin: 0;
}

ul.panel li a,
ul.panel li button {
  display: block;
  width: auto;
  height: auto;
  padding: 15px;
  color: var(--text-color-1);
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
}

.pl2 {
  padding-right: 25px;
}

.panel-separator {
  border-top: 1px solid var(--border-color-2);
}

button.dark-off .sun-icon,
button.dark-on .moon-icon {
  position: absolute;
  right: 15px;
  bottom: 13px;
  display: none;
  width: 22px;
  height: 22px;
  fill: var(--text-color-1);
}

button.dark-off:hover,
button.dark-on:hover {
  text-decoration: none;
}

button.dark-off:hover .sun-icon,
button.dark-on:hover .moon-icon {
  display: inline-block;
}
