button.settings {
  color: var(--text-color-1);
  font-weight: 400;
  line-height: 16px;
}

button.settings {
  font-size: 14px;
  text-decoration: none;
}

button.settings:hover {
  cursor: pointer;
  text-decoration: underline;
}