.gapps-panel {
    display: block;
    position: absolute;
    width: min-content;
    height: 420px;
    right: 15px;
    top: 66px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 8px;
    padding: 11px 0 8px 14px;
    flex: 1;
    box-shadow: 0 1px 6px rgba(36, 37, 41, 0.568);
    border-color: rgba(147, 149, 151, 0.712);
}

.gapps-panel ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: -5px;
}

.gapps-panel li {
    margin: 6px;
    padding: 4px;
    background-color: gray;
    border-radius: 8px;
    height: 76px;
    width: 76px;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
}

.gapps-panel .divider {
    height: 1px;
    width: stretch;
    margin: 12px -14px;
    background-color: lightgray;
}

.gapps-panel a:hover {
    text-decoration: none;
}

.more-from-google {
    margin: 12px auto;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 25px;
    width: min-content;
    white-space: nowrap;
}

.more-from-google a {
    color: blue;
}

.more-from-google a:hover {
    text-decoration: none;
}

.more-from-google:hover {
    background-color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    border: 4px solid white;
  }