.gapps-panel {
    display: block;
    position: absolute;
    width: min-content;
    height: 418px;
    right: 15px;
    top: 66px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 8px;
    padding: 11px 0 8px 14px;
    flex: 1;
    box-shadow: 0 1px 6px rgba(36, 37, 41, 0.568);
    border-color: rgba(147, 149, 151, 0.712);
}

.gapps-panel ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: -6px;
}

.gapps-panel li {
    margin: 6px;
    padding: 4px;
    background-color: transparent;
    border-radius: 8px;
    height: 76px;
    width: 76px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    letter-spacing: +0.09px;
    overflow: hidden;
    white-space: nowrap;
    word-break: normal;
    text-overflow: ellipsis;
}

.gapps-panel li:hover {
    background-color: #e9edff;
    word-break: break-word;
    overflow: visible; 
    white-space: normal;
    height:auto;
}

.gapps-panel a {
    color: #202124;
    font-size: 14px;
    line-height: 18px;
}

.gapps-icons-transform {
    height: 62px;
    transform: scale(calc(5/6));
    margin-top: -4px;
}

.gapps-panel-icons {
    background-image: url("./googleapps.png");
    background-size: 64px 3100px;
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: 64px;
}

.gapps-panel .divider {
    height: 1px;
    width: stretch;
    margin: 12px -14px;
    background-color: lightgray;
}

.gapps-panel a:hover {
    text-decoration: none;
}

.more-from-google {
    margin: 16px auto;
    max-width: 265px;
    width: auto;
    background-color: transparent;
    border: 1px solid #dadce0;
    border-radius: 4px;
    padding: 10px 24px;
    width: min-content;
    white-space: nowrap;
}

.more-from-google a {
    color: #1a73e8;
}

.more-from-google:hover {
    background-color: rgb(232, 243, 247);
    border: 1px solid #dadce0;
    cursor: pointer;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #dadbe0;
    border-radius: 10px;
    border: 4px solid white;
  }