.gapps-panel {
    display: block;
    position: absolute;
    width: min-content;
    height: 420px;
    right: 18px;
    top: 66px;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 12px 0 8px 8px;
    flex: 1;
}

.gapps-panel ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gapps-panel li {
    margin: 8px;
    padding: 4px;
    background-color: red;
    height: 70px;
    width: 70px;
}

.gapps-panel .divider {
    height: 1px;
    width: stretch;
    margin: 12px -10px;
    background-color: white;
}

.more-from-google {
    margin: 12px auto;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 25px;
    width: min-content;
    white-space: nowrap;
}

.more-from-google a:hover {
    text-decoration: none;
}

.more-from-google:hover {
    background-color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }