.email-name {
  margin: 8px auto 17px;
  height: 30px;
  align-items: center;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 16px;
  padding: 0 9px 0 9px;
  display: inline-flex;
  color: rgb(60, 64, 67);
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pass-form input:focus ~ .input-placeholder {
  transform: translateY(-30px) translateX(-8px);
  font-size: 12px;
  background-color: white;
  padding: 0 6px;
  color: #1a73e8;
  z-index: 1;
  cursor: text;
}

.pass-form input:valid ~ span {
  transform: translateY(-29px) translateX(-8px);
  font-size: 12px;
  background-color: white;
  padding: 0 6px;
  color: gray;
  z-index: 1;
  cursor: text;
}

.flex-row {
  margin: 0 0 0 -8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: min-content;
  margin-top: 26px !important;
}

.create-account {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  margin: 6px 0;
  padding: 0 8px;
  align-items: center;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  letter-spacing: 0.15px;
  min-width: 64px;
  vertical-align: middle;
}

.create-account:hover {
  background-color: #f8f8fe;
}

.create-account:active {
  background-color: #e3e1fc;
}

.pass-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 10px 0 0 40px;
  line-height: 20px;
  color: rgb(32, 33, 36);
  margin-bottom: 40px;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 7px;
  height: 14px;
  width: 14px;
  border: 2px solid rgb(95, 99, 104);
  border-radius: 2px;
  margin: 11px 11px 11px 4px;
  z-index: 3;
}

.checkmark-bg {
  position: absolute;
  top: 0px;
  left: -8px;
  border-radius: 50%;
  background-color: white;
  height: 40px;
  width: 40px;
  z-index: -1px;
}

.checkmark-bg:hover .checkmark,
.checkmark:hover {
  border-color: rgb(32, 33, 36);
}

.checkmark-bg:hover,
.checkmark:hover,
.checkmark:hover ~ .checkmark-bg {
  background-color: #f7f8f8;
}

.checkmark-bg:hover input:checked ~ .checkmark {
  background-color: rgb(23, 78, 166);
  border-color: rgb(23, 78, 166);
}

input:checked ~ .checkmark {
  background-color: rgb(26, 115, 232);
  border-color: rgb(26, 115, 232);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.password-checkbox {
  display: inline-block;
  visibility: visible;
  width: 14px;
  height: 14px;
  border: 2px solid rgb(95, 99, 104);
  border-radius: 4px;
  margin: 11px;
}
