.email-name {
  margin: 8px auto 17px;
  height: 30px;
  align-items: center;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 16px;
  padding: 0 9px 0 9px;
  display: inline-flex;
  color: rgb(60, 64, 67);
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pass-form input:focus ~ .input-placeholder {
  transform: translateY(-30px) translateX(-8px);
  font-size: 12px;
  background-color: white;
  padding: 0 6px;
  color: #1a73e8;
  z-index: 1;
  cursor: text;
}

.pass-form input:valid ~ span {
  transform: translateY(-29px) translateX(-8px);
  font-size: 12px;
  background-color: white;
  padding: 0 6px;
  color: gray;
  z-index: 1;
  cursor: text;
}

.flex-row {
  margin: 0 0 0 -8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: min-content;
  margin-top: 26px !important;
}

.create-account {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  margin: 6px 0;
  padding: 0 8px;
  align-items: center;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  letter-spacing: 0.15px;
  min-width: 64px;
  vertical-align: middle;
}

.create-account:hover {
  background-color: #f8f8fe;
}

.create-account:active {
  background-color: #e3e1fc;
}
