.next {
  align-self: center;
  font-family: 'Roboto', arial, sans-serif;
  border-radius: 4px;
  align-items: center;
  background-color: rgb(26, 115, 232);
  padding: 0 24px;
  color: white;
  font-size: 14px;
  height: 36px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15px;
  min-width: 64px;
  vertical-align: middle;
  transition-property: background-color;
  transition-delay: 0.025s;
  margin: 6px 0;
}

.next:hover {
  background-color: rgb(26, 110, 232);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.next:active {
  background-color: rgb(26, 90, 225);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
