body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, san-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-height: 505px) {
  body {
    overflow-y: scroll;
  }
}