:root {
  --background-color: hsl(0deg 0% 100%);
  --footer-background-color: hsl(0deg 0% 95%);
  --logo: url("../public/googlelogo_color.png");
  --notfound-logo: url("../public/googlelogo_color_150x54dp.png");
  --robot: url("../public/robot.png");
  --scrollbar-color: hsl(0deg 0% 95%);
  --scrollbar-thumb: hsl(0deg 0% 76%);
  --gapp-icon-fill: hsl(220deg 5% 39%);
  --gapp-icon-hover: hsl(240deg 3% 92%);
  --gapp-icon-active: hsl(240deg 3% 83%);
  --gapp-title: hsl(240deg 3% 100%);
  --gapp-title-background: hsl(220deg 5% 32%);
  --gapp-background-color: hsl(0deg 0% 100%);
  --gapp-shadow: hsl(206deg 5% 25% / 35%);
  --gapp-thumb-color: hsl(230deg 9% 87%);
  --gapp-app-hover: hsl(218deg 92% 95%);
  --searchbar-hover: hsl(0deg 0% 100%);
  --searchbar-border-hover: hsl(220deg 10% 88%);
  --searchbar-shadow-hover: hsl(225deg 6% 13% / 23%);
  --searchbar-icon: hsl(216deg 4% 46%);
  --searchbar-icon-2: hsl(217deg 7% 63%);
  --search-button-color: hsl(210deg 17% 98%);
  --search-button-hover: hsl(230deg 9% 87%);
  --text-color-1: hsl(0deg 0% 45%);
  --text-color-2: hsl(0deg 0% 25%);
  --text-color-3: hsl(214deg 82% 51%);
  --text-color-4: hsl(206deg 6% 25%);
  --text-color-5: hsl(245deg 86% 36%);
  --text-color-6: hsl(0deg 0% 13%);
  --text-color-7: hsl(0deg 0% 47%);
  --border-color-1: hsl(220deg 9% 87%);
  --border-color-2: hsl(196deg 48% 94%);
  --border-color-3: hsl(230deg 9% 87%);
  --border-color-4: hsl(217, 89%, 61%);
  --button-hover: hsl(217deg 89% 61%);
  --button-active: hsl(217deg 89% 66%);
  --tooltip-background-color: hsl(0, 0%, 18%);
  --tooltip-text-color: hsl(0, 0%, 100%);
  --tooltip-border-color: hsl(0, 0%, 95%);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, san-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  overflow: hidden;
}

a,
ins {
  text-decoration: none;
}

i {
  font-style: normal;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  display: inline-flex;
}

li {
  list-style: none;
}

button {
  cursor: default;
  background: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  white-space: nowrap;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-button:single-button {
  background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  background-clip: padding-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--text-color-1);
}

::-webkit-scrollbar-button:single-button {
  background-size: 8px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement,
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 13px;
  width: 15px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-position: 3px 6px;
  background-image: url("data: image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}
