.account-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: inline-flex;
  height: max-content;
  flex-grow: 1;
  width: 280px;
  align-items: center;
  flex-flow: row wrap;
  margin-left: 20px;
}

.account-footer-items {
  padding: 16px 10px;
  color: rgb(95,99,104);
  cursor: pointer;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 16px;
  text-align: center;
}