.welcome-head {
  font-family: Roboto;
  line-height: 36px;
  font-size: 28px;
  color: rgb(32, 33, 36);
  overflow-wrap: break-word;
  margin: 20px 0;
  align-self: center;
}

.welcome-subhead {
  font-family: Roboto;
  font-size: 16px;
  margin-top: 0;
  align-self: center;
  letter-spacing: 0.1px;
  line-height: 24px;
  overflow-wrap: break-word;
  color: rgb(95, 99, 104);
}

.welcome-card {
  color: rgb(60, 64, 67);
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  min-width: 300px;
  max-width: 406px;
  margin: 24px 12px 0 12px;
}

.welcome-card-top {
  display: flex;
  min-width: 292px;
  max-width: 358px;
  height: 124px;
  flex-shrink: 1;
  padding: 24px 24px 16px 24px;
  border: 1px solid lightgray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.welcome-card-head {
  font-family: Roboto;
  color: rgb(32, 33, 36);
  font-size: 22px;
  line-height: 28px;
  overflow-wrap: break-word;
  margin-bottom: 8px;
}

.welcome-card-bottom {
  display: flex;
  min-width: 292px;
  max-width: 358px;
  height: 20px;
  flex-shrink: 1;
  padding: 17px 24px 18px 24px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: rgb(26, 115, 232)

}

.welcome-card-bottom:hover {
  cursor: pointer;
  background-color: rgb(248, 253, 255);
}

.card-row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.inner-card-row {
  display: flex;
  flex-direction: row;
}

.welcome-top-card-info {
  display: flex;
  flex-direction: column;
  width: 246px;
  height: 124px;

}

.personalize-img {
  background-image: url("../../../../public/personalize.png");
  background-size: 96px 96px;
  height: 96px;
  width: 96px;
  margin-left: 16px;
  align-self: center;
}

.personalinfo-img {
  background-image: url("../../../../public/personalinfo.png");
  background-size: 96px 96px;
  height: 96px;
  width: 96px;
  margin-left: 16px;
  align-self: center;
}

.flex-link {
  display: flex;
  flex-shrink: 1;
}
